.body {
    overflow-x: hidden;
}
.footer .allfooter .logososmed2{
    display: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.padnavbar .row .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: black;
    font-family: Ubuntu-Regular;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
}

.padnavbar .row .navbar-nav .nav-item:nth-child(3) .nav-link {
    font-size: 16px;
    color: black;
    font-family: Ubuntu-Regular;
}

.padnavbar .row .navbar-nav .nav-item:nth-child(1) .nav-link {
    font-size: 16px;
    color: black;
    font-family: Ubuntu-Regular;
}
.padnavbar .row a .imglogosmall {
    width: 100%;
    max-width: 156px;
    margin-left: 100px;
}
#section1 {
    background-image: url('../images/background/overview.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FEFFF8;
    position: relative;
    height: 760px;
    overflow: hidden;
}
#section1 .overview {
    position: absolute;
    margin: 76px 101px;
}
#section1 .overview .imglogouc{
    width: 100%;
    max-width: 494px;
}
#section1 .overview .dateandplace .sectiondate{
        position: relative;
        border: 1px solid #ed3558;
        box-shadow: 5px 5px #91283e;
        background-color: #ed3558;
        color: white;
        width: 100%;
        max-width: 450px;
        border-radius: 10px;
        font-family: MagmaWave;
        font-size: 21px;
        text-align: center;
}
#section1 .overview .dateandplace .sectionplace {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 300px;
    padding: 0px;
    margin: 20px 0px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
}
#section1 .padstage {
    width: 800px;
    position: absolute;
    right: -132px;
    text-align: right;
}
#section1 .padstage .imgstage {
    width: 100%;
    height: auto;
}
#section1 .padstage .sprites {
    width: 715px;
    height: 348px;
    background-position: top center;
    background: url('../images/sprites/01.png');
    background-size: 100%;
    animation: play 1s steps(20) infinite;
    position: absolute;
    top: 201px;
    left: 131px;
}
#section2 {
    background-image: url(../images/background/activity.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    height: 1194px;
}
#section2.row, {
    margin: 0px !important;
}
#section2 .detail {
    position: relative;
}
#section2 .detail .paddetail {
    width: 100%;
    max-width: fit-content;
    margin: 2em auto;
    display: block;
}
#section2 .detail .sectiondetail {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    width: 100%;
}
#section2 .detail .padcard {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    text-align: center;
    padding: 2em 0px;
}
#section2 .detail .padcard .padcardlist {
    margin: 2em 0px;
}
#section2 .detail .padcard .padcardlist .imgcard{
    width: 100%;
    max-width: 247px;
}
#section2 .detail .padcard .padcardlist .padcarddesc .fontcardhead {
    font-family: MagmaWave;
    font-size: 27px;
    padding-top: 25px;
    color: white;
    line-height: 1.5;
    margin-bottom: 0px;
}
#section2 .detail .padcard .padcardlist .padcarddesc .fontcarddesc {
    font-family: Kanit-Light;
    font-size: 23px;
    color: white;
    /* margin-top: 18px; */
    margin-bottom: -4px;
}

#section2 .detail .padcard .row:nth-child(2) .col-sm-4:nth-child(2) .padcardlist {}
#section2 .detail .padcard .row:nth-child(2) .col-sm-4:nth-child(3) .padcardlist {}

#section3 {
    background-image: url(../images/background/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    margin-top: 137px;
    overflow: hidden;
}
#section3 .sectionphoto {
    position: absolute;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 320px;
    padding: 5px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    left: 101px;
}

.sectioncompetitionr, .sectioncompetitionm, .sectionent, .sectionexpo {
    margin-bottom: 1.9em !important;
}
#section3 .padphoto {
    position: absolute;
    /* margin-top: 127px; */
    left: 100px;
    width: 800px;
    bottom: 2em;
    /* padding: 30px; */
    margin: 5em auto;
    transition: 1s all ease;
}
#section3 .padphoto .descphoto {
    /* position: relative; */
    width: 100%;
    max-width: 500px;
    font-family: Kanit-Light;
    font-size: 16px;
    color: white;
}
#section3 .padphoto .btnupload {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    border-radius: 20px;
    border-color: #ed3558;
    padding: 10px;
    color: white;
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-size: 16px;
    font-family: Kanit-Light;
    margin: 1em 0px;
}
#section3 .padphotoimg {
    width: 800px;
    position: absolute;
    right: -220px;
    bottom: 0px;
}
#section3 .padphotoimg .imgphoto {
    width: 100%;
    max-width: 400px;
} 
#section3 .padimgabsleft .imgabsleft {
    position: relative;
    width: 100%;
    max-width: 69px;
    top: 200px;
}
.section3 .padphoto #collapseUpload {
    margin-top: 0px;
}

.section3 .padphoto #collapseUpload h4 {
    font-family: kanit-regular;
    color: #fff;
}

.section3 .padphoto #collapseUpload a {
    font-family: kanit-light;
    background-color: #ed3558;
    border-radius: 20px;
    border-color: #ed3558;
    color: #fff;
    margin: 1em 0px;
}
#section4 .allsubsection .subsectiongroup {
    background-image: url(../images/background/game.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20px 0px;
    position: relative;
}
#section4 .allsubsection .subsectiongroup .subsection1 {
    position: relative;
    padding: 2em 0px;
    display: table;
    width: 100%;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism {
    width: 100%;
    display: table;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm {
    margin: 2em 0px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .padsectioncompetitionr {
    margin: 2em 0px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm .sectioncompetitionm {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    left: 101px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
    position: relative;
    width: 100%;
    max-width: 838px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .subsectionmechanism {
    font-family: Kanit-Medium;
    font-size: 30px;
    color: #ed3558;
    position: relative;
    left: 0px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism {
    position: relative;
    left: 101px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism .olmechanism, .olrule {
    margin: 1.5em 1em;
    line-height: 1.5em;
    font-family: Kanit-Light;
    font-size: 16px;
}
#section4 .allsubsection .subsectiongroup .subsection2 {
    position: relative;
    display: table;
    width: 100%;
    padding: 2em 0px;
}
#section4 .allsubsection .subsectiongroup .subsection2 .listrule {
    position: relative;
    left: 101px;
    width: 100%;
    max-width: 838px;
}
#section4 .allsubsection .subsectiongroup .subsection2 .listrule .subsectionrule {
    position: relative;
    font-family: Kanit-Medium;
    font-size: 30px;
    color: #ed3558;
}
#section4 .allsubsection .subsectiongroup .subsection2 .listrule .descrule {
    position: relative;
    width: 100%;
    max-width: 875px;
}
#section4 .allsubsection .subsectiongroup .subsection1 .logocompetition {
    position: relative;
    float: right;
    padding-right: 4em;
    display: table;
    margin: 1em;
}
#section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padayla {
    position: relative;
    float: left;
}
#section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena {
    position: relative;
    float: left;
    margin: 4em 2em;
}
#section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena .garena {
    width: 100%;
    max-width: 217px;
}
#section4 .allsubsection .subsectiongroup .subsection2 .logocompetitionbottom .padayla {
    position: relative;
    float: left;
}
#section4 .allsubsection .subsectiongroup .subsection2 .logocompetitionbottom .padgarena {
    position: relative;
    float: left;
    margin: 4em 2em;
}
#section4 .allsubsection .subsectiongroup .subsection2 .logocompetitionbottom .padgarena .garena {
    width: 100%;
    max-width: 217px;
}
#section4 .allsubsection .subsection3 {
    position: relative;
    background-image: url(../images/background/urban-coustic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 945px;
    bottom: 0px;
    padding: 2em 0px;
}
#section4 .allsubsection .subsection3 .padsectioncompetitionr {
    margin: 2em 0px;
}
#section4 .allsubsection .subsection3 .padsectioncompetitionr .sectioncompetitionr {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    left: 101px;
}
#section4 .allsubsection .subsection3 .listruleuc {
    position: relative;
    width: 100%;
    max-width: 835px;
}
#section4 .allsubsection .subsection3 .listruleuc .subsectionruleuc {
    position: relative;
    font-family: Kanit-Medium;
    font-size: 30px;
    color: #ed3558;
    left: 101px;
}
#section4 .allsubsection .subsection3 .listruleuc .descruleuc {
    position: relative;
    width: 100%;
    max-width: 875px;
    left: 101px;
}
#section4 .allsubsection .subsection3 .padimguc {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 510px;
}
#section4 .allsubsection .subsection3 .padimguc .imguc {
    width: 100%;
    max-width: 700px;
}
#section5 {
    position: relative;
    background-image: url(../images/background/entertainment.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0px;
    height: 810px;
}
#section5 .padent {
    position: relative;
}
#section5 .padent .sectionent {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    left: 101px;
    margin: 2em 0px;
}
#section5 .padent .padimgent .imgent {
    position: relative;
    margin: 1em 0px;
    left: 101px;
    width: 100%;
    max-width: 500px;
}
#section5 .padhead {
    width: 530px;
    position: absolute;
    right: 100px;
    top: 22em;
}
#section5 .padhead .headingent {
    font-family: Kanit-Medium;
    font-size: 28px;
}
#section5 .padhead .descent {
    font-family: Kanit-Light;
    font-size: 16px;
    margin: 1em auto;
    text-align: center;
}
#section5 .padimgcirclebottom .imgcirclebottom {
    width: 100%;
    max-width: 377px;
    position: absolute;
    bottom: 0px;
    right: 170px;
}
#section6 {
    position: relative;
    background-image: url(../images/background/expo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0px;
}
#section6 .padexpo .sectionexpo {
    position: relative;
    border: 1px solid #ed3558;
    box-shadow: 5px 5px #91283e;
    background-color: #ed3558;
    color: white;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    font-family: MagmaWave;
    text-align: center;
    font-size: 28px;
    left: 101px;
    margin: 2em 0px;
}
#section6 .padexpo .padimglogo {
    margin: 5em 0px;
}
#section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
    position: absolute;
    right: 385px;
    width: 100%;
    max-width: 300px;
}
#section6 .padexpo .padimglogo .padimgexpo .imgexpo {
    width: 100%;
    max-width: 1000px;
}
#section6 .padimgcircletop .imgcircletop {
    width: 100%;
    max-width: 377px;
    position: absolute;
    top: 0px;
    right: 170px;
}
.footer {
    height: 250px;
}
.footer .allfooter .padfooter {
    position: relative;
    display: table;
    width: 100%;
}

.padfooter .padfoot {
    float: left;
    width: 33%;
}
.footer .allfooter .padfooter .padcopy {
    position: relative;
    float: left;
    padding: 2em 90px;
}
.footer .allfooter .padfooter .padcopy .logodaihatsu {
    width: 100%;
    max-width: 156px;
}
.footer .allfooter .padfooter .padcopy .fontcopy {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    padding: 15px 0px;
}
.footer .allfooter .padfooter .padcopy .logososmed {
    cursor: pointer;
    font-size: 33px;
    position: absolute;
    color: #1076BC;
}
.footer .allfooter .padfooter .padcopy .logososmed .logofb {
    position: relative;
    float: left;
    margin-right: 18px;
}
.footer .allfooter .padfooter .padcopy .logososmed .logoig {
    position: relative;
    float: left;
}
.footer .allfooter .padfooter .padfontfoot{
    font-family: Ubuntu-Regular;
    position: relative;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 2em 30px 0px 30px;
}
.footer .allfooter .padfooter .padfontfoot a:nth-child(2){
    padding: 20px;
}
.footer .allfooter .padfooter .padfontfoot a {
    color: black;
}
.footer .allfooter .padfooter .padhub {
    position: relative; 
    float: left;
    padding: 2em 90px;
}
.footer .allfooter .padfooter .padhub .fonthub {
    font-family: Ubuntu-Medium;
    font-size: 22px;
    color: #ed3558;
    margin-bottom: 20px;
}
.footer .allfooter .padfooter .padhub .fontfooter {
    font-family: Ubuntu-Regular;
    font-size: 16px;
}

.padnavbarmobile .row .col-xs-2 .imgnavsmall {
    width: 100%;
    max-width: 41px;
    height: 41px;
}
.active .padphoto {
    margin: 0px 0px;
}
.padnavbar {
    height: 77px;
    z-index: 99999;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0px;
}
.padnavbar .row .col-md-6:nth-child(2) .fontnavbar{
    display: grid;
    vertical-align: middle;
    padding: 0px;
}
.padnavbar .row .col-md-6:nth-child(2) .fontnavbar:nth-child(1){
    display: grid;
    vertical-align: middle;
    padding: 10px;
    margin-top: 10px;
}
.padnavbarmobile .row .col-xs-2 .padnavsmall {
    padding-top: 15px;
}
#section5 .padhead .headingentm {
    font-family: Kanit-Medium;
    font-size: 28px;
}
.abs1 {
    width: 100%;
    max-width: 259px;
}
.abs2 {
    width: 100%;
    max-width: 88px;
}
.abs3 {
    position: absolute;
    width: 100%;
    max-width: 167px;
    top: 0px;
    left: 600px;
}
.clear {
    height: 77px;
}
.row {
    margin: 0px !important;
}
#section1 .overview .dateandplace {
    margin: 37px 0px 0 10;
}
#section4 .allsubsection .subsectiongroup .subsection2 .logocompetitionbottom {
    position: relative;
    margin: 0em 7em;
    display: table;
}

@media(max-width: 1440px) {
    #section2 {
        height: 1314px;
        background-position: 0px -71px;
        padding: 2em 0px;
    }
    #section3 {
        background-image: url(../images/background/photo.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 700px;
        overflow: hidden;
        margin-top: 0px;
    }
    #section1 .padstage {
        position: absolute;
        right: -216px;
        bottom: -96px;
        height: 700px;
        width: 1093px;
    }
    #section1 .padstage .imgstage {
        width: 100%;
        height: auto;
    }
    #section3 .padphotoimg {
        width: 800px;
        position: absolute;
        right: -150px;
        bottom: 0px;
    }
    #section3 .padphotoimg .imgphoto {
        width: 100%;
        max-width: 500px;
    }
}

@media(max-width: 1366px) {
    #section1 {
        height: 611px;
    }
    #section1 .padstage {
        width: 1000px;
        position: absolute;
        right: -219px;
    }
    #section1 .padstage .imgstage {
        width: 100%;
        height: auto;
    }
    #section2 {
        background-size: cover;
        position: relative;
        height: 1191px;
    }
    #section3 {
        height: 600px;
    }
    #section3 .padphotoimg {
        width: 491px;
        position: absolute;
        right: 85px;
        bottom: 0px;
    }
    #section3 .padphotoimg .imgphoto {
        max-width: 400px;
    }
}

@media(max-width: 1220px){
    #section4 .allsubsection .subsection3{
        height: 1200px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        position: relative;
        width: 100%;
        max-width: 700px;
    }
    #section5 .padhead {
        width: 430px;
        position: absolute;
        right: 100px;
        top: 15em;
        text-align: center;
    }
    #section5 .padent .padimgent .imgent {
        position: relative;
        margin-top: 50px;
        left: 51px;
        width: 100%;
        max-width: 400px;
    }
}

@media(max-width: 1024px) {
    .padnavbar .row .col-md-6:nth-child(2) .fontnavbar {
        display: grid;
        vertical-align: middle;
        padding: 0px 30 0 0;
    }
    #section1 {
        height: 571px;
        margin-top: 77px;
    }
    #section1 .padstage {
        top: 0px;
        right: -217px;
    }
    #section1 .padstage .imgstage {
        width: 100%;
        max-width: 700px;
        height: auto;
    }
    #section1 .overview {
        position: absolute;
        margin: 50px 50px;
        z-index: 2;
    }
    #section2 {
        padding-top: 0px;
        height: 1198px;
    }
    #section2 .detail {
        display: grid;
        padding: 0px 3em;
    }
    .section2 .detail .padcard {
        max-width: 900px;
    }
    #section3 {
        margin-top: 0px;
        height: 550px;
    }
    #section3 .padphoto {
        left: 50px;
        width: 500px;
    }
    #section3 .padphotoimg {
        right: -50px;
        width: 491px;
        position: absolute;
        right: -50px;
        bottom: 0px;
    }
    #section3 .padimgabsleft .imgabsleft {
        max-width: 45px;
    }
    #section3 .sectionphoto {
        left: 50px;
        top: 30px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm .sectioncompetitionm {
        left: 0px;
    }
    #section4 .allsubsection .subsection3 .padsectioncompetitionr .sectioncompetitionr {
        left: 0px;
    }
    #section4 .allsubsection .subsection3 .listruleuc .subsectionruleuc {
        left: 50px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .subsectionmechanism {
        left: 101px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .padsectioncompetitionr {
        width: 100%;
        margin: 2em auto;
        padding: 0px 50px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm {
        margin: 2em auto;
        padding: 0px 4em;
    }
    #section4 .allsubsection .subsection3 .padsectioncompetitionr {
        width: 100%;
        margin: 2em auto;
        padding: 0px 50px;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .listrule {
        max-width: 700px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        position: relative;
        margin-top: 27px;
        width: 100%;
        max-width: 700px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
        max-width: 700px;
        top: 30px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism .olmechanism, .olrule {
        padding: 23px 0px 25px 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism .olmechanism {
        padding: 1.5em 0em;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .logocompetitionbottom {
        left: 0px;
        margin: 0px 4em;
    }
    #section5 {
        height: 650px;
    }
    #section5 .padent .sectionent {
        left: 50px;
        margin: 1em 0px;
    }
    #section5 .padent .padimgent .imgent {
        position: relative;
        margin-top: 50px;
        left: 51px;
        width: 100%;
        max-width: 400px;
    }
    #section5 .padimgcirclebottom .imgcirclebottom {
        max-width: 342px;
    }
    #section5 .padhead {
        width: 450px;
        position: absolute;
        right: 50px;
        margin-top: 0px;
        text-align: center;
    }
    #section5 .padhead .descent {
        margin-top: 30px;
    }
    #section6 {
        height: 700px;
    }
    #section6 .padexpo .sectionexpo {
        left: 50px;
    }
    #section6 .padexpo .padimglogo {
        margin-top: 100px;
    }
    #section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
        position: absolute;
        right: 285px;
        width: 100%;
        max-width: 250px;
    }
    #section6 .padimgcircletop .imgcircletop {
        width: 100%;
        max-width: 342px;
        position: absolute;
        top: 0px;
        right: 170px;
    }
    #section6 .padexpo .padimglogo .padimgexpo .imgexpo {
        width: 100%;
        max-width: 800px;
    }
    .footer .allfooter .padfooter {
        max-width: 900px;
        margin: 0px auto;
    }
    .footer .allfooter .padfooter .padcopy{
        padding: 2em 0px;
    }
    .footer .allfooter .padfooter .padhub{
        padding: 2em 0px;
    }
    .padnavbar .row a .imglogosmall {
        margin-left: 30px;
    }
    #section1 .abstract .abs2 {
        max-width: 60px;
    }
    #section1 .abstract .abs3 {
        left: 500px;
        max-width: 100px;
    }
}

@media(max-width: 992px) {
    .padfooter, .padnavbar .row {
        max-width: unset;
        width: 100%;
        padding: 0px 30px;
    }
    .footer .allfooter {
        width: 100%;
        padding: 30px 0px;
    }
    .fontcopy {
        font-size: 16px !important;
    }
    .fontfooter {
        margin-bottom: 0px;
    }
}

@media(max-width: 930px) {
    #section5 .padhead{
        top: 15em;
    }
}

@media(max-width: 900px) {
    #section3 .padphoto{
        max-width: 400px;
        bottom: 2em;
        margin: 0px auto;
    }
    .footer .allfooter .padfooter{
        max-width: 700px;
    }
    .footer .allfooter .padfooter .padcopy{
        width: 100%;
    }
    .footer .allfooter .padfooter .padfontfoot{
        width: 100%;
        text-align: left;
        padding: 2em 30px 0px 0px;
    }
    .footer .allfooter .padfooter .padhub{
        width: 100%;
    }
    .footer .allfooter .padfooter .padcopy .logososmed{
        width: 100%;
    }
}

@media(max-width: 769px) {
    .section2 .detail .padcard .padcardlist {
        height: 350px;
    }
    #section4 .allsubsection .subsection3 .imguch {
        display: none;
    }
    .footer .allfooter .padfooter .padfontfoot a:nth-child(2) {
        padding: 0px 150px;
    }
    .footer .allfooter .padfooter .padcopy{
        width: 100%;
        padding-top: 2em;
        padding-bottom: 0px;
    }
    .footer .allfooter .padfooter .padhub{
        width: 100%;
        padding: 0px;
    }
    .footer .allfooter .padfooter .padfontfoot{
        width: 100%;
        text-align: left;
        padding: 0px;
    }
    .footer .allfooter .logososmed2 .logofb {
        position: relative;
        float: left;
    }
    .fontnavbar:nth-child(3) {
        padding-right: 20px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 4em;
        max-width: 600px;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .listrule {
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 4em;
        max-width: 600px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 4em;
        max-width: 600px;
    }
    .section2 {
        height: 1080px;
    }
    .section6 {
        height: 600px;
    }
    #section4 .allsubsection .subsection3 {
        background-position: center;
        height: auto;
        padding-bottom: 23em;
    }
    #section6 .padexpo .sectionexpo {
        left: 50px;
        margin: 1em 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .subsectionmechanism {
        left: 0px;
    }
    #section4 .allsubsection .subsectiongroup {
        height: auto;
    }
    #section4 .allsubsection .subsection3 .listruleuc .descruleuc {
        left: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism {
        left: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padayla .ayla {
        width: 100%;
        max-width: 150px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena .garena {
        max-width: 150px;
    }
    #section3 .padphoto .descphoto {
        max-width: 350px;
    }
    #section4 .allsubsection .subsection3 .padimguc .imguc {
        max-width: 430px;
    }
    #section5 .padent .padimgent .imgent {
        max-width: 300px;
    }
    #section6 .padexpo .padimglogo .padimgexpo .imgexpo {
        max-width: 700px;
    }
    #section2 .detail .padcard .padcardlist .imgcard {
        width: 100%;
        max-width: 200px;
    }
    #section3 .padphotoimg .imgphoto {
        width: 100%;
        max-width: 300px;
    }
    .padnavbar .row a .imglogosmall {
        margin-left: 30px;
    }
    #section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
        right: 150px;
        margin: -30px auto;
    }
    #section5 .padhead {
        width: 280px;
        text-align: center;
    }
    .section2 .detail .padcard {
        max-width: 700px;
    }
    #section3 .padphotoimg {
        width: 400px;
        position: absolute;
        right: -50px;
        top: 198px;
    }
    .footer .allfooter .padfooter {
        max-width: 700px;
        margin-left: 50px;
    }
    #section2 .detail .padcard .padcardlist .padcarddesc .fontcardhead {
        font-size: 25px;
    }
    #section2 .detail .padcard .padcardlist .padcarddesc .fontcarddesc {
        font-size: 17px
    }
    .footer .allfooter .padfooter .padhub .fonthub{
        margin-top: 33px;
    }
    .footer .allfooter .padfooter .padcopy .logososmed{
        display: none;
    }
    .footer .allfooter .logososmed2 {
        cursor: pointer;
        font-size: 33px;
        position: relative;
        color: #1076BC;
        margin: 3px auto;
        display: flex;
        width: max-content;
    }
    .footer .allfooter .padfooter .row:nth-child(2) {
        display: none;
    }
    #section6 .padimgcircletop .imgcircletop {
        width: 100%;
        max-width: 200px;
        position: absolute;
        top: 0px;
        right: 170px;
    }
    #section5 .padimgcirclebottom .imgcirclebottom {
        width: 100%;
        max-width: 200px;
        position: absolute;
        bottom: 0px;
        right: 170px;
    }
}


@media(max-width: 766px) {
    #section1 .overview {
        position: absolute;
        margin: 30px 30px;
        z-index: 2;
    }
    #section6 .padexpo .sectionexpo{
        left: 30px;
    }
    #section5 .padent .sectionent{
        left: 30px;
    }
    #section3 .sectionphoto{
        left: 30px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .padsectioncompetitionr {
        padding: 0px 30px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm{
        padding: 0px 30px;
    }
    #section4 .allsubsection .subsection3 .padsectioncompetitionr {
        padding: 0px 30px;
    }
    #section4 .allsubsection .subsection3 .listruleuc .subsectionruleuc {
        left: 0px;
    }
    #section3{
        height: 600px;
    }
    #section2 {
        background-image: url(../images/background/activity-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: relative;
        height: auto;
        padding-top: 30px;
    }
    #section1 {
        margin-top: 77px;
    }
    #section3 .padphoto .btnupload {
        top: 10px;
    }
    .padnavbarmobile .content-header {
        width: 100%;
        padding: 0px;
        font-family: Kanit-Regular;
        font-size: 16px;
        background-color: #000000;
        color: white;
    }
    .padnavbarmobile .content-header .padcol {
        max-width: 100%;
        margin: 0px;
        padding: 0px 1em;
    }
    .padnavbarmobile .content-header .padcol .fontnav {
        padding: 20px;
    }
    .padnavbarmobile .content-header .padcol .ch-item .collapse:nth-child(2) .bornav {
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin: 15px auto;
        color: white;
        display: block;
    }
    .padnavbarmobile .content-header .padcol .fontnav .navm {
        padding-left: 20px;
    }
    .padnavbarmobile .content-header .padcol .fontnav .imgdown{
        float: right;
        font-size: 20px;
    }
    #section5 .padimgcirclebottom .imgcirclebottom {
        width: 100%;
        max-width: 270px;
        position: absolute;
        bottom: 0px;
        right: 50px;
    }
    #section6 .padimgcircletop .imgcircletop {
        width: 100%;
        max-width: 270px;
        position: absolute;
        bottom: 0px;
        right: 50px;
    }
    #section3 .padphoto {
        max-width: 400px;
        bottom: 2em;
        margin: 4em 0px;
    }
    .footer .allfooter .padfooter{
        margin-left: 30px;
    }
    .padnavbarmobile .row .col-xs-2 .imgnavsmall {
        margin: 1.3em 0px;
        margin-left: 30px;
    }
    .padnavbarmobile {
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: white;
        top: 0px;
        height: 77px;
    }
    .footer .allfooter .padfooter .padhub .fonthub{
        margin-top: 33px;
    }
    .footer .allfooter .logososmed2 {
        margin: 0px 0px 30px 20px;
    }
    .footer .allfooter .logososmed2 .logofb {
        position: relative;
        float: left;
        margin: 0px 20px 30px 30px;
    }
    .footer .allfooter .logososmed2 .logoig {
        position: relative;
        float: left;
    }
    .padnavbarmobile .row .col-xs-10 .imglogosmall {
        margin-top: 10px;
        margin-left: 30px;
        width: 100%;
        max-width: 156px;
    }
}

@media(max-width: 750px) {
    .padnavbarmobile .row .col-xs-10 .imglogosmall {
        margin-top: 10px;
        margin-left: 30px;
    }
    .footer .allfooter .padfooter .padhub {
        width: 100%;
        margin-right: 45px;
    }
    #section4 .allsubsection .subsection3 .listruleuc .subsectionruleuc {
        left: 0px;
    }
    .footer .allfooter .padfooter .padcopy .logososmed {
        margin: -70px 20px;
    }
    #section3 {
        margin-top: 50px;
        background-image: url(../images/background/photo-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 70px;
        position: relative;
        height: 950px;
    }
    #section3 .padphotoimg {
        width: 100%;
        margin: 150px auto;
        max-width: 399px;
        top: 0px;
        right: 0px;
        left: 0px;
        position: absolute;
    }
    #section3 .padphoto {
        top: 0;
        left: 0px;
        width: 100%;
        max-width: 400px;
        margin: 537px auto;
        position: relative;
        z-index: 2;
        padding: 0px;
    }
    #section5 .padhead {
        width: 280px;
        text-align: center;
    }
    #section6 .padexpo .padimglogo {
        text-align: center;
    }
    #section3 .padphoto .descphoto {
        max-width: 450px;
    }
    #section1 {
        margin-top: 77px;
    }
    #section4 .allsubsection .subsection3 .padimguc .imguc {
        max-width: 400px;
    }
    #section4 .allsubsection .subsection3 .imguch {
        display: none;
    }
    #section5 .padimgcirclebottom .imgcirclebottom {
        max-width: 242px;
    }
    #section6 .padimgcircletop .imgcircletop {
        max-width: 242px;
    }
    #section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
        right: 145px;
    }
    .footer .allfooter .padfooter {
        max-width: 600px;
    }
    .section2 .detail .padcard {
        max-width: 600px;
    }
    .footer .allfooter .padfooter .padhub .fontfooter {
        font-size: 13px;
    }
    .footer .allfooter .padfooter .padcopy .fontcopy {
        font-size: 13px;
    }
    #section4 .allsubsection .subsection3 .padimguc .imguc {
        max-width: 400px;
    }
}

@media(max-width: 661px) {
    .footer .allfooter .padfooter .padcopy .logososmed {
        margin: 0px 0px 30px 20px;
    }
    .footer .allfooter .padfooter .padhub .fonthub{
        margin-top: 33px;
    }
    .active .padphoto {
        margin: 443 auto;
    }
    #section2 {
        background-image: url(../images/background/activity-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: relative;
        height: auto;
        padding-top: 30px;
    }
    #section5 {
        position: relative;
        background-image: url(../images/background/entertainment-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        overflow: hidden;
    }
    #section5 .padent .padimgent .imgent {
        position: absolute;
        max-width: 350px;
        left: 130px;
        top: 20px;
    }
    #section5 .padhead{
        width: 100%;
        max-width: 350px;
        margin: 400px auto;
        position: unset;
        right: 0px;
    }
    #section3 .padphotoimg {
        width: 100%;
        margin: 135px auto;
        max-width: 286px;
        top: 0px;
        right: 0px;
        left: 0px;
        position: absolute;
    }
    #section3 .padphoto {
        top: 0;
        left: 0px;
        width: 100%;
        max-width: 400px;
        margin: 443px auto;
        position: relative;
        z-index: 2;
    }
    #section3 .padphoto .descphoto {
        max-width: 400px;
        font-size: 13px;
    }
    #section4 .allsubsection .subsection3 .padimguc {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 400px;
    }
    #section4 .allsubsection .subsection3 .padimguc .imguc {
        width: 100%;
        max-width: 400px;
        margin-top: 69px;
        float: right;
    }
}

@media(max-width: 576px) {
    .footer .allfooter .logososmed2 .logofb {
        position: relative;
        float: left;
        margin: 0px 20px 30px 40px;
    }
    .footer .allfooter .padfooter {
        max-width: 700px;
        margin: 0px 40px;
    }
    .footer .allfooter .padfooter .padfontfoot{
        padding-left: 0px;
    }
    .footer .allfooter .padfooter .padfontfoot a:nth-child(2) {
        padding: 0px 50px;
    }
    .footer .allfooter .padfooter .padhub{
        margin-bottom: 20px;
    }
    .footer .allfooter .padfooter .padcopy .logososmed .logofb {
        position: relative;
        float: left;
        margin: 0px 20px 30px 40px;
    }
    .footer .allfooter .logososmed2{
        margin: 10px 10 30px 35px;
    }
    .footer .allfooter .padfooter .row:nth-child(2) {
        display: unset;
    }
    #section6 .padexpo .sectionexpo{
        left: 0px;
    }
    .active .padphoto {
        margin: 350px auto;
    }
    .footer .allfooter .padfooter .padcopy .logososmed {
        margin: 0px;
    }
    .padnavbarmobile .content-header .padcol .fontnav .imgdown {
        float: right;
        font-size: 20px;
    }
    .content-header {
        width: 100%;
        padding: 0px;
        font-family: Kanit-Regular;
        font-size: 16px;
        background-color: #000000;
        color: white;
    }
    .padnavbarmobile .content-header .padcol .fontnav .navm {
        padding-left: 20px;
    }
    .padnavbarmobile .content-header .padcol {
        max-width: 100%;
        margin: 0px;
        padding: 0px 1em;
    }
    .padnavbarmobile .content-header .padcol .fontnav {
        padding: 20px;
    }
    .padnavbarmobile .content-header .padcol .ch-item .collapse:nth-child(2) .bornav{
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin: 15px auto;
        color: white;
        display: block;
    }
    .padnavbarmobile {
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: white;
        top: 0px;
        height: 77px;
    }
    #section1 .overview {
        position: relative;
        z-index: 2;
        margin: 0px;
        padding: 3em 3em;
    }
    .clear {
        height: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
        max-width: 338px;
        top: 0px;
        padding: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .listrule {
        max-width: 338px;
        top: 0px;
        padding: 0px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        max-width: 338px;
        top: 0px;
        padding: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: unset;
        float: unset;
        display: table;
        margin: 0px auto;
        width: unset;
        padding: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padayla .ayla {
        width: 100%;
        max-width: 107px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena .garena {
        width: 100%;
        max-width: 145px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena {
        position: relative;
        float: left;
        margin: 2em 2em;
    }
    .ol {
        line-height: 1.5;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        padding: 50px 0px 0px 0px;
        max-width: 338px;
    }
    #section4 .allsubsection .subsection3 .listruleuc .descruleuc {
        width: 100%;
        max-width: 338px;
    }
    #section1 {
        background-image: url('../images/background/overview-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: auto;
        margin-top: 77px;
    }
    #section2 {
        background-image: url(../images/background/activity-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: relative;
        height: auto;
        padding-top: 2em;
    }
    #section3 {
        margin-top: 50px;
        background-image: url(../images/background/photo-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 900px;
    }
    #section5 {
        position: relative;
        background-image: url(../images/background/entertainment-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        overflow: hidden;
        padding: 2em 3em;
    }
    #section6 {
        height: auto;
        overflow: hidden;
        padding: 3em 3em;
    }
    .sectiondetail {
        font-size: 18px;
    }
    #section3 .sectionphoto {
        top: 0px;
        font-size: 17px;
        max-width: 300px;
        margin: 0px auto;
        left: unset;
        position: relative;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 {
        height: 880px;
    }
    #section4 .allsubsection .subsectiongroup {
        background-image: url(../images/background/game-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px;
        position: relative;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .subsectionmechanism {
        font-size: 22px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism .descmechanism .olmechanism, .olrule {
        padding: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .listrule .subsectionrule {
        font-size: 22px;
    }
    #section4 .allsubsection .subsection3 .listruleuc .subsectionruleuc {
        font-size: 22px;
    }
    #section4 .allsubsection .subsection3 {
        position: relative;
        background-image: url(../images/background/urban-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        background-position: bottom;
        padding-bottom: 32em;
        overflow: hidden;
    }
    .sectiondate {
        max-width: 260px;
        font-size: 12px;
        text-align: left;
        padding: 0px 1em;
    }
    .sectionplace {
        max-width: 218px;
        font-size: 17px;
        text-align: left;
        padding: 0px 1em;
    }
    #section4 .allsubsection .subsection3 .padsectioncompetitionr .sectioncompetitionr {
        max-width: 215px;
        font-size: 17px;
        left: 0px;
    }
    .sectioncompetitionm {
        max-width: 256px;
        font-size: 17px;
        left: 0px;
        margin: 2em 0px;
    }
    #section5 .padent .sectionent {
        font-size: 17px;
        max-width: 276px;
        margin-top: 52px;
        left: 0px;
    }
    .section2 .detail .padcard .padcardlist {
        height: auto;
    }
    .section2 .detail .padcard .row:nth-child(1) .col-sm-4 .padcardlist {
        margin-top: 25px;
    }
    .section2 .detail .padcard .row:nth-child(1) .col-sm-4:nth-child(2) .padcardlist {
        margin-top: 50px;
    }
    .section2 .detail .padcard .row:nth-child(1) .col-sm-4:nth-child(3) .padcardlist {
        margin-top: 50px;
    }
    .section2 .detail .padcard .row:nth-child(2) .col-sm-4:nth-child(2) .padcardlist {
        margin-top: 50px;
    }
    .section2 .detail .padcard .row:nth-child(2) .col-sm-4:nth-child(3) .padcardlist {
        margin-top: 50px;
    }
    /* .padcardlist {
        margin-top: 50px;
        height: 204px;
    }
    .padcardlist1 {
        margin-top: 25px;
        height: 204px;
    }
    .padcardlist2 {
        margin-top: 50px;
        height: 204px;
    } */
    #section3 .padphotoimg {
        width: 100%;
        margin: 135px auto;
        max-width: 286px;
        top: 0px;
        right: 0px;
        left: 0px;
        position: absolute;
    }
    #section3 .padphoto {
        top: 0;
        left: 0px;
        width: 100%;
        max-width: 286px;
        margin: 350px auto;
        position: relative;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .padsectioncompetitionm {
        padding-top: 0px;
        padding: 0px 3em;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .padsectioncompetitionr {
        padding: 2em 3em;
    }
    #section4 .allsubsection .subsection3 .padimguc {
        right: 0px;
    }
    #section5 .padhead{
        width: 100%;
        max-width: 350px;
        margin: 380px auto;
        position: unset;
        right: 0px;
    }
    #section3 .padphoto .descphoto {
        max-width: 100%;
        font-size: 13px;
    }
    #section2 .detail .padcard .padcardlist .imgcard {
        width: 100%;
        max-width: 150px;
    }
    #section3 .padphotoimg .imgphoto {
        max-width: 375px;
        margin: 0px auto;
    }
    #section4 .allsubsection .subsection3 .padimguc .imguc {
        width: 100%;
        max-width: none;
        margin-top: 69px;
    }
    #section4 .allsubsection .subsection3 .imguch {
        width: 100%;
        max-width: 293px;
        margin-top: 0px;
        display: unset;
    }
    #section5 .padent .padimgent .imgent {
        max-width: 320px;
        left: 60px;
    }
    .imglogouc {
        width: 100%;
        max-width: 266px;
        margin-top: 0px;
    }
    #section1 .overview .dateandplace {
        margin: 3em 0px;
    }
    #section5 .padimgcirclebottom .imgcirclebottom {
        right: -56px;
        max-width: 177px;
    }
    #section6 .padimgcircletop .imgcircletop {
        right: -56px;
        max-width: 177px;
    }
    .padnavbarmobile .row .col-xs-10 .imglogosmall {
        max-width: 140px;
        margin-left: 40px;
    }
    .padnavbarmobile .row .col-xs-2 .imgnavsmall {
        margin: 1.3em 0px;
        margin-left: -20px;
    }
    #section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
        left: 70px;
    }
    #section6 .padexpo .padimglogo .padimgexpo .imgexpo {
        width: 140%;
        margin: 50px 0 0 -75;
        padding-bottom: 36px;
    }
    #section3 .padimgabsleft .imgabsleft {
        position: unset;
        display: none;
    }
    #section2 .detail .padcard .padcardlist .padcarddesc .fontcardhead {
        font-size: 18px;
        margin-top: 13px;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    #section2 .detail .padcard .padcardlist .padcarddesc .fontcarddesc {
        font-size: 16px;
    }
    .footer .allfooter .padfooter .padcopy .fontcopy {
        padding: 15px 0 25 0px;
        font-size: 12px !important;
    }
    .footer .allfooter .padfooter .padhub .fonthub {
        padding-left: 0px;
        margin-top: 33px;
    }
    .footer .allfooter .padfooter .padhub .fontfooter {
        padding-left: 0px;
        margin: 0px;
        font-size: 12px !important;
    }
    #section3 .padphoto .btnupload {
        top: 0;
        max-width: none;
    }
    #section5 .padhead .headingentm {
        text-align: center;
    }
    .footer .allfooter .padfooter .padcopy .logososmed {
        padding-left: 35px;
        padding-top: 12px;
        padding-bottom: 0px
    }
    .footer .allfooter .padfooter .padcopy .logodaihatsu {
        width: 100%;
        max-width: 156px;
        padding-left: 0px;
    }
    #section4 .allsubsection .subsection3 .imguch {
        width: 100%;
        max-width: 293px;
        margin-top: 0px;
        display: unset;
    }
}

@media(max-width: 496px){
    .footer .allfooter .padfooter .padfontfoot a:nth-child(2) {
        padding: 0px 30px;
    }
}

@media(max-width: 485px){
    #section5 .padent .padimgent .imgent {
        max-width: 320px;
        left: 30px;
    }
}

@media(max-width: 457px){
    .footer .allfooter .padfooter .padfontfoot a:nth-child(2) {
        padding: 0px 300px 0px 0px;
    }
}

@media(max-width: 426px) {
    .footer .allfooter .padfooter .padfontfoot a:nth-child(2) {
        padding: 0px 20px;
    }
    #section5 .padent .padimgent .imgent {
        max-width: 320px;
        left: 0px;
    }
}

@media(max-width: 376px) {
    #section4 .allsubsection .subsectiongroup {
        height: auto;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena {
        margin: 2em;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 {
        margin-top: 0px;
    }
    #section4 .allsubsection .subsection3 {
        height: auto;
    }
    #section3 .sectionphoto {
        left: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 {
        height: 970px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        max-width: 250px;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 .listrule {
        max-width: 250px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
        max-width: 250px;
    }
    #section3 .padphoto {
        width: 100%;
        max-width: 280px;
        margin: 350px auto 0px;
        right: 0px;
        left: 0px;
    }
    #section5 .padhead {
        left: 0px;
        max-width: 270px;
    }
    #section5 .padent .padimgent .imgent {
        left: 0px;
    }
    #section5 .padhead .headingentm {
        font-size: 25px;
    }
}

@media(max-width: 330px) {
    .footer .allfooter .padfooter {
        max-width: 700px;
        margin-left: 20px;
    }
    .footer .allfooter .logososmed2 .logofb {
        position: relative;
        float: left;
        margin: 0px 20px 30px 20px;
    }
    #section3 .sectionphoto {
        left: 0px;
        max-width: 92%;
    }
    #section1 .overview {
        margin: 0px;
        padding: 4em 1em;
    }
    #section2 .detail {
        margin: 0px;
        padding: 4em 1em;
    }
    #section2 .detail .paddetail {
        margin: 2em 0px;
        width: 100%;
        max-width: 100%;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .mechanism .listmechanism {
        top: 0px;
    }
    #section4 .allsubsection .subsection3 .listruleuc {
        padding-top: 3em;
    }
    #section4 .allsubsection .subsectiongroup .subsection2 {
        margin-top: 50px;
    }
    #section4 .allsubsection .subsection3 {
        height: auto;
        padding-bottom: 0px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .padsectioncompetitionr {
        padding: 0px;
        width: 100%;
    }
    #section4 .allsubsection .subsection3 .padsectioncompetitionr .sectioncompetitionr {
        max-width: 256px;
        margin: 0px auto;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padayla .ayla {
        max-width: 100px;
    }
    #section4 .allsubsection .subsectiongroup .subsection1 .logocompetition .padgarena .garena {
        max-width: 100px;
    }
    #section5 .padhead .headingentm {
        font-size: 24px;
    }
    #section4 .allsubsection .subsection3 .imguch {
        max-width: 200px;
    }
    #section5 .padent .padimgent .imgent {
        max-width: 100%;
        left: 0px;
    }
    #section6 .padexpo .padimglogo .padimglogoucsmall .imglogoucsmall {
        max-width: 200px;
    }
    .padnavbarmobile .row .col-xs-10 .imglogosmall {
        margin-left: 15px;
    }
    #section6 .padexpo .padimglogo .padimgexpo .imgexpo {
        width: 150%;
    }
    #section5 .padhead {
        max-width: 100%;
        left: 0px;
        margin: 280px auto;
    }
    .padnavbarmobile .content-header .padcol {
        max-width: 250px;
    }
    #section4 .allsubsection .subsection3 .padimguc {
        display: none;
    }
}

@keyframes play {
    100% {
        background-position: 0px -7337px;
    }
}